on init
    chown system system /sys/devices/touch_keypad/turn_off

service vendor.blackberry.touchkeypad-hal /vendor/bin/hw/vendor.blackberry.touchkeypad-service
    class hal
    user system
    group system
